# Entorno virtual
env/

# Archivos de configuración del entorno
*.env

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de IDEs
.vscode/
.idea/

# Otros archivos ignorables
.DS_Store
