html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

.header-image {
    background-image: url('/static/images/header-image.png');
    background-size: cover;
    background-position: center bottom;
    height: 300px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    color: white;
    padding-bottom: 10px; 
}

.nav {
    margin-bottom: 0;
}

.nav-link {
    color: #ffffff !important;
}

.jumbotron {
    background-color: #ffffff;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

/* Estilos para las tarjetas de proyectos */
.card {
    background-color: #FAFAFA; /* Color suave para la tarjeta */
    border: none; /* Sin borde para un look minimalista */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333; /* Color más oscuro para el texto */
}

.card-text {
    color: #666; /* Color gris para el texto de la descripción */
}

/* Ajustar dimensiones de las imágenes de los proyectos */
.card-img-top {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para llenar el área, manteniendo la proporción */
}

.btn-github {
    background-color: #0d3969; /* Color suave para el botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 0.5rem 1rem; /* Espaciado del botón */
    border-radius: 0.25rem; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-github:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

.post-preview {
    margin-bottom: 2rem;
}

.post-preview a {
    text-decoration: none;
    color: #343a40;
}

.post-preview-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

.post-content {
    color: #666;
    margin-bottom: 1rem;
}

.post-meta {
    font-size: 0.8em;
    color: #999;
}

.post-content-image {
    width: 20%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Agrega estos estilos adicionales al final del archivo existente */

.music-link {
    margin-bottom: 2rem;
}

.music-link h3 {
    margin-bottom: 0.5rem;
}

.music-link p {
    margin-bottom: 1rem;
}

.music-link .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.music-link .btn:hover {
    background-color: #0056b3;
}

.embed-responsive {
    margin-bottom: 1rem;
}

.music-link iframe {
    margin-bottom: 1rem;
    max-width: 100%;
}

/* Estilos para la paginación */
.pagination {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    margin: 0 0.5em;
}

.pagination .page-link {
    text-decoration: none;
    color: #007bff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}
