<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - LSC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-container">
        <header class="header-image">
            <nav class="nav justify-content-center">
                <a class="nav-link text-white" href="{{ url_for('main.index') }}">Home</a>
                <a class="nav-link text-white" href="{{ url_for('main.blog') }}">Blog</a>
                <a class="nav-link text-white" href="{{ url_for('main.works') }}">Works</a>
                <a class="nav-link text-white" href="{{ url_for('main.music') }}">Music</a>
                <a class="nav-link text-white" href="{{ url_for('main.contact') }}">Contact</a>
            </nav>
        </header>
        <div class="content-wrap">
            <main class="container my-4">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer class="footer">
            <p>&copy; 2024 Developed by Luis</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
