{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eum!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi quo atque velit quibusdam ipsum voluptate nulla, cumque earum magnam..</p>
    <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('main.works') }}" role="button">Ver Trabajos</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.blog') }}" role="button">Leer Blog</a> -->
</div>
{% endblock %}
