{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="">
    <h1 class="display-4">About me</h1>
    <hr class="my-4">
    <p>
        I am Luis, originally from the second region of Antofagasta, Chile. I embarked on my academic journey by enrolling in a Bachelor of Arts with a focus on Musical Composition at the Universidad de Chile in 2014. Concurrently, I pursued a degree in Computer Engineering, developing a profound interest in electroacoustic music and Machine Learning. Upon completing both degrees, I decided to study for a Bachelor of Performance in Piano.
        
        I am passionate about teaching the subjects I learn. I have worked both as an engineer and as a composer, contributing to small audiovisual projects. My strengths lie in research and experimentation. In the realm of academic music, my major influences are Morton Feldman and Iannis Xenakis.
    </p>
    <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('main.works') }}" role="button">Ver Trabajos</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.blog') }}" role="button">Leer Blog</a> -->
</div>
{% endblock %}
